@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Press Start 2P', system-ui;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	width: 600px;
	height: 500px;
}
.row {
	flex-grow: 1;
	display: flex;
	width: 100%;
	height: auto;
}

.grid {
	flex-grow: 1;
	outline: 1px solid black;
}

.fill {
	background-color: red;
}
