@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Press Start 2P', system-ui;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

button {
	all: unset;
	cursor: pointer;
}

.container {
	padding: 1rem;
}

.action-buttons {
	margin-bottom: 1rem;
}

.btn-clear {
	font-size: 0.8em;
	background-color: lightblue;
	padding: 6px 10px;
	border-radius: 0.5em;
	transition: transform 0.1s ease-in-out;
}

.btn-clear:hover {
	background-color: rgb(193, 230, 242);
	transform: scale(1.03);
}

.grid-container {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	width: 600px;
	height: 600px;
}
.row {
	flex-grow: 1;
	display: flex;
}

.grid {
	flex-grow: 1;
}

.fill {
	background-color: rgb(52, 52, 52);
}
